# Ignore local secrets
secrets-local/

# Ignore temporary files
*.swp
*~
.DS_Store

node_modules/

# Terraform / CDKTF files
cdktf/cdktf.out/
**/cdktf.out/
cdktf/.terraform/
cdktf/.gen/
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
**/*.tfstate
**/*.tfstate.*
**/terraform.tfvars
**/terraform.tfplan
**/plan
**/crash.log
**/*.tfvars.json
**/.terragrunt-cache/
**/cdk.tf.json
